/* Global */
*{
	margin: 0px;
	padding:0px ;
	list-style:  none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
    background:hsl(0, 0%, 95%);
	height: 100vh;
	 display:flex;
	align-items: center;
	 justify-content: center; 
}
main{
    width: 927px;
    height: 525px;
    display: flex;
}
#right,#left,#center{
    width: 309px;
    height: 100%;
}
#right{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
     /* justify-content: center;   */
     padding: 5%;
     gap: 8%; 
}
#center{
    background-color: hsl(184, 100%, 22%); 
     display: flex;
    flex-direction: column;
    align-items: center;
     /* justify-content: center;   */
     padding: 5%;
     gap: 8%; 
}
#left{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
     /* justify-content: center;   */
     padding: 5%;
     gap: 8%; 
}
#icon1{
      margin-right: 60%; 
    
}
#titulo1{
    color: hsl(0, 0%, 95%);
     margin-right: 50%; 
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    font-weight:700;
}
#texto1{
color:  hsla(0, 0%, 100%, 0.75);
/* margin:0 20% 30% 20%; */
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;
}
#boton1{
    background-color: hsl(0, 0%, 95%);
    color:hsl(31, 77%, 52%) ;
     width: 150px;
    height: 50px; 
     margin-top: 35%;
     margin-right: 35%; 
    border-radius: 50px;
    border-color: transparent;
}
#icon2{
    margin-right: 60%; 
  
}
#titulo2{
  color: hsl(0, 0%, 95%);
  margin-right: 70%;  
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  font-weight:700;
}
#texto2{
color:  hsla(0, 0%, 100%, 0.75);
/* margin:0 20% 30% 20%; */
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;
}
#boton2{
  background-color: hsl(0, 0%, 95%);
  color:hsl(184, 100%, 22%) ;
   width: 150px;
  height: 50px; 
   margin-top: 35%;
   margin-right: 35%; 
  border-radius: 50px;
  border-color: transparent;
}
#icon3{
    margin-right: 60%; 
  
}
#titulo3{
  color: hsl(0, 0%, 95%);
  margin-right: 60%;  
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  font-weight:700;
}
#texto3{
color:  hsla(0, 0%, 100%, 0.75);
/* margin:0 20% 30% 20%; */
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;
}
#boton3{
  background-color: hsl(0, 0%, 95%);
  color:hsl(179, 100%, 13%) ;
   width: 150px;
  height: 50px; 
   margin-top: 35%;
   margin-right: 35%; 
  border-radius: 50px;
  border-color: transparent;
}
#boton1:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%) ;
   border: 2px solid hsl(0, 0%, 95%);
   cursor: pointer;
}
#boton2:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%) ;
   border: 2px solid hsl(0, 0%, 95%);
   cursor: pointer;
}
#boton3:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%) ;
   border: 2px solid hsl(0, 0%, 95%);
   cursor: pointer;
}
@media (max-width:376px){
    main{
        width: 80%;
        flex-direction: column;
    }
    #right{
       border-top-right-radius: 10px;
       border-bottom-left-radius: 0;
       padding: 15%;
       justify-content: center;
       flex-direction: column;
       align-items: flex-start;
        gap: 20px; 
    }
    #boton1{
        margin-top: 5px;
    }

    #center{
        padding: 15%;
       justify-content: center;
       flex-direction: column;
       align-items: flex-start;
        gap: 20px;   
    }
    #boton2{
        margin-top: 5px;
    }
    #left{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        padding: 15%;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
         gap: 20px; 
    } 
    #boton3{
        margin-top: 5px;
    }
}